@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Raleway:ital,wght@0,300;0,400;1,200&family=Roboto:wght@400;500&family=Sintony&family=Source+Sans+3:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Raleway:ital,wght@0,300;0,400;1,200&family=Roboto:wght@400;500&family=Sintony&family=Source+Sans+3:wght@900&family=Space+Grotesk:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Raleway:ital,wght@0,300;0,400;1,200&family=Roboto:wght@400;500&family=Sintony&family=Source+Sans+3:wght@900&family=Space+Grotesk:wght@600&family=Work+Sans:wght@500;600&display=swap');
<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Raleway:ital,wght@0,300;0,400;1,200&family=Roboto:wght@400;500&family=Sintony&family=Source+Sans+3:wght@900&family=Space+Grotesk:wght@600&family=Work+Sans:wght@300;500;600&display=swap');
=======
>>>>>>> 4c300666d517bc764f977530f208f40cd743c8d1

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: 
    #272727;
<<<<<<< HEAD
    height: 100vh;
=======
>>>>>>> 4c300666d517bc764f977530f208f40cd743c8d1
}
.nav{
    display: flex;
    justify-content: space-between;
}
.navbar{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Sintony', sans-serif;
font-family: 'Source Sans 3', sans-serif;
}
.left-nav{
    width: 35%;
    display: flex;
    justify-content: space-between;
}
.nav-div-ul{
    width: 50%;
        align-self: center;

}
.nav-ul{
    display: flex;
    justify-content: space-between !important;
    list-style-type: none;
    font-size: 14px;
}
.nav-li{
    text-decoration: none;
    color: #FFFF;
    list-style: none;
    font-size: 12px;
    
}
.nav-logo{
    border-left:3px solid gold ;
    border-top:3px solid gold ;
    border-bottom: 3px solid gold;
}
.nav-logo-h3{
        font-size: 23px;
    color: #FFFF;
    padding: 5px;

}
.nav-logo-p{
    font-size: 10px;
    color: rgb(139, 138, 138);
}
.right-nav{
    display: flex;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-nav-lang{
    display: flex;
    justify-content: space-between;
}
.right-nav-lang-en{
    margin-right: 5px;
    color: gold;
    font-size:14px ;
}
.right-nav-lang-ru{
    color: rgb(139, 138, 138);
    font-size:14px ;

}
.right-nav-button1{
    padding: 8px 20px;
    background-color: gold;
    font-family: 'Sintony', sans-serif;
    border: none;
}
.right-nav-phone{
    color: #FFFF;
}
.first-con{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
<<<<<<< HEAD
=======
    height: 200vh;
>>>>>>> 4c300666d517bc764f977530f208f40cd743c8d1
    

}
.first{
    background-image: url(Image/slider1.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.first-icons{
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: center;
    justify-content: center;
    padding-bottom: 50px;

}
.first-icons i{
    margin-top: 15px;
    margin-right: 10px;
}
.first-main-text{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: #FFFF;  
         font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Sintony', sans-serif;
font-family: 'Source Sans 3', sans-serif;
font-family: 'Space Grotesk', sans-serif;


    
}
.first-main-text h1{
    font-size: 50px;
    letter-spacing: 2px;
}
.first-main-text span{
    color: gold;
}
.first-main-text-p1{
    color: rgb(224, 218, 218);
    font-size: 15px;

}
.first-main{
    width: 50%;
    border-left:3px solid gold ;
    border-top:3px solid gold ;
    border-bottom: 3px solid gold;
    padding: 20px;
}
.first-number-con{
    
    margin-right: auto;
    margin-left: auto;
   color: #FFFF;
    background-color: #272727;
    display: flex;
justify-content: space-between;  
  padding: 50px 100px 30px 40px;

}
.first-buttom{
    width: 50%;
    margin-left:auto ;
    margin-top: 150px;
    font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Sintony', sans-serif;
font-family: 'Source Sans 3', sans-serif;
font-family: 'Space Grotesk', sans-serif;
font-family: 'Work Sans', sans-serif;
letter-spacing: 1px;

}
.first-number{
    width: 30%;
display: flex;
justify-content:  space-between;
}
.first-number h1{
    color: gold;
}
<<<<<<< HEAD
/* second */
.second-con{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    color: #FFFF;
padding-bottom: 100px; 
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Sintony', sans-serif;
font-family: 'Source Sans 3', sans-serif;
font-family: 'Space Grotesk', sans-serif;
font-family: 'Work Sans', sans-serif;  
}
.second-text{
    margin:120px 20px ;
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

}
.second-text-p{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.second-text-p > span{
 color: rgb(189, 189, 189);
}
.second-cards{
    display: flex;
    justify-content: space-between;

}
.second-card1{
    
    width: 23.5%;
height: 450px;
background-image: url(Image/1.png);
background-size: cover;
}
.second-card1-p{
    width: 90%;
    margin-left: auto;
    height: 90%;
    display: flex;
    align-items: end;
}
.second-card1-p{
font-size: 18px;
}
.second-card2{
    
    width: 23.5%;
height: 455px;
background-color:gold;

}
.second-card2-p{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color:black ;
}
.second-card2-p1{
    font-size: 27px;
}
.second-card2-p2{
    font-size: 14px;
    letter-spacing: 2px;
}
.second-card3{
    
    width: 23.5%;
height: 450px;
background-image: url(Image/2.png);
background-size: cover;

}
.second-card4{
    
    width: 23.5%;
height: 450px;
background-image: url(Image/3.png);
background-size: cover;

}
/* third */
.third-con{
    width: 41%;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Sintony', sans-serif;
font-family: 'Source Sans 3', sans-serif;
font-family: 'Space Grotesk', sans-serif;
font-family: 'Work Sans', sans-serif;  
padding-bottom: 50px;
}
.third{
    width: 100%;
    height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.third-p{
 color: gold;

}
.third > h1{
    font-size:55px;
    color: #FFFF;
}
.third-p2{
    color: rgb(181, 181, 181);
    font-size: 14px;
    letter-spacing: 2px;
   
   }
   /* fourth */
   .fourth-con{
    width: 81%;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Sintony', sans-serif;
font-family: 'Source Sans 3', sans-serif;
   }
.fourth-con > video{
    width: 100%;
    
}
.video-play{
display: flex;
justify-content: center;
align-items: center;

}
/* fifth */
.fifth-top{
    width: 60%;
    border: 2px solid gold;
    margin-top: 50px;
    margin-bottom: 50px;
 margin-left: auto;
 margin-right: auto;
 font-family: 'Montserrat', sans-serif;
 font-family: 'Raleway', sans-serif;
 font-family: 'Roboto', sans-serif;
 font-family: 'Sintony', sans-serif;
 font-family: 'Source Sans 3', sans-serif;
 font-family: 'Space Grotesk', sans-serif;
 font-family: 'Work Sans', sans-serif;
}
.fifth-top-text{
    padding: 70px;
}.fifth-top-text > p{
    font-size: 25px;
    color: #FFFF;
}
.fifth-buttom{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Sintony', sans-serif;
font-family: 'Source Sans 3', sans-serif;
font-family: 'Space Grotesk', sans-serif;
font-family: 'Work Sans', sans-serif;
    
}
.fifth-buttom-cards{
display: flex;
justify-content: space-between;

}
.fifth-buttom-card{
width: 49%;
color: #FFFF;
}
.fifth-buttom-card >img{
    width: 100%;
    margin-bottom: 20px;
}
.fifth-buttom-card > p{
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 10px;
    text-align: justify;
    font-family: Work Sans    ;
}
/* sixth */
.sixth-con{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    background-image: url(Image/Rectangle\ 868.png);
    background-size: cover;
    border: 2px solid gold;
    height: 310px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sintony', sans-serif;
    font-family: 'Source Sans 3', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
form{
    display: flex;
    
flex-direction: column;
align-items: center;
width: 50%;
margin-left: auto;
margin-right: auto;
padding: 80px;
}
.sixth-p{
font-size: 18px;
margin-bottom: 10px;
}
.sixth-label{
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 10px;
}
.sixth-input
{
    margin: 10px;
    border: none;
}
.sixth-input1{
    padding: 10px 25px 10px 25px;
    border: none;
    color: #FFFF;
}
.sixth-input2{
    padding: 10px 15px 10px 15px;
    color: #FFFF;
    border: none;
    margin-left:-10px ;
    background-color: #272727;
}
.seventh-con{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  
}
.seventh-con2{
    width: 50%;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
.seventh-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFF;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sintony', sans-serif;
    font-family: 'Source Sans 3', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
}
.seventh-top > h1{
    font-size: 40px;
}
.seventh-top > p{
    color: gray;
}
.seventh-buttom{
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sintony', sans-serif;
    font-family: 'Source Sans 3', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
}
.seventh-card{
    width:30%;
    background-image: url(Image/350x350.png);
    background-size: cover;

}
.seventh-card-3{
    width:30%;
    background-image: url(Image/seventh2.png);
    background-size: cover;

}
.seventh-card-2{
    width: 30%;
    border: 3px solid gold;
    padding: 20px;
    color: #FFFF;
}
.seventh-card> img{
    width: 100%;
}
.seventh-card-p{
    color: rgb(179, 179, 179);
    margin-bottom: 13px;
    font-size: 14px;
}
.seventh-card-p2{
    font-size: 21px;
    margin-bottom: 20px;
}
.seventh-card-p3{
    font-size: 11px;
    color: gray;
    margin-bottom: 45px;
}
.seventh-card-p4{
    color: gold;
}
.seventh-card > p{
    width: 90%;
    margin-left: auto;
    height: 90%;
    display: flex;
    align-items: end;
    color: #FFFF;
}
.seventh-card-3 >p{
    width: 90%;
    margin-left: auto;
    height: 90%;
    display: flex;
    align-items: end;
    color: #FFFF;
}
.eight-con{
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sintony', sans-serif;
    font-family: 'Source Sans 3', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
}
.eight-card{
    width: 49%;
    

}
fieldset{
    border: 2px solid gold;
}
.eight-ps{
    display: flex;
    justify-content:space-between ;
    flex-direction: column;
    width: 95%;
    margin-left: auto;
    color: #FFFF;

}
.eight-card-p{
    margin: 30px 0px 10px 0px;
    font-size: 22px;
}
.eight-card-p2{
margin: 10px 0px 30px 0px;
}
.eight-card-p3{
    margin: 3px 0px 10px 0px;
    font-size: 14px;
    color: gray;
}
=======
>>>>>>> 4c300666d517bc764f977530f208f40cd743c8d1
